@{
    ViewData["Title"] = "ds hoc sinh";
    string[] TableHeader = new string[] {"ID",
          "Name",
          "Adress","DiemTB","Class"};

}



<h2>them  sinh vien</h2>
@ViewBag.error

<div class="">
    <form action="/home/createstudent" method="post">

        <div class="">
            <label>
                ID
            </label>

            <input type="number" name="ID" value="" />
        </div>
        <div class="">
            <label>
                Name
            </label>

            <input type="text" name="Name" value="" />
        </div>
        <div class="">
            <label>
                Adress
            </label>

            <input type="text" name="Adress" value="" />
        </div>
        <div class="">
            <label>
                DiemTB
            </label>

            <input type="number" name="DiemTB" value="" />
        </div>
        <div class="">
            <label>
                Class
            </label>

            <input type="text" name="Class" value="" />
        </div>

        <input type="submit" name="" value="them">
    </form>
</div>

<style>
  @*  input {
        background-color: #ff0000;
        width: 100px;
        height: 30px;
    }*@
</style>
