@{ ViewData["Title"] = "ds hoc sinh";
    string[] TableHeader = new string[] {"ID",
          "Name",
          "Adress","DiemTB","Class"};

}
<div class="">
    <form action="/home/DeleteStudent" method="post">
    <table>
        <tr>
            <td>Id</td>
            <td>
                <input type="text" name="ID" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Delete" />
            </td>
        </tr>
    </table>
</form></div>
